<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><i class="fa fa-caret-up fa-1x"> </i> Head Starter </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Back to Questions", questions_path %> </li>
        <li> <%= link_to 'My Question Board', user_path(current_user.id) %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
        <li> <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path)  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="pageheader">
<h1> Hello <%= @user.user_name %>, post a question!</h1>
</div>

<div class="row">
  <div class="col-md-10 col-md-offset-3">
<%= form_for @question, url: {action: "create"}, html: {class: "nifty_form"} do |f| %>
 <%= f.label "Education Level" %> <br>
 <%= f.collection_select(:education_level_id , @educationLevels, :id, :edu_level) %><br><br>

  <%= f.label "Subject" %> <br>
  <%= f.collection_select(:subject_id , @subjects, :id, :subject_name) %><br><br>

  <%= f.label "Title" %> <br>
  <%= f.text_field :title, size: "80x20"%> <br><br>

  <%= f.label "Question" %><br>
  <%= f.text_area :questions_content, size: "80x15" %>
  <%= f.submit "Post",  class: "btn btn-primary" %>
  <% end %>
  </div>
</div>
