<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><i class="fa fa-caret-up fa-1x"> </i> Head Starter </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Back to Questions", questions_path %> </li>
        <li> <%= link_to 'My Question Board', user_path(current_user.id) %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Back', questions_path %> </li>
        <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %></li>
        <li> <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path)  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class ="">
<h2> Challenger </h2>

<%= @questions.title %>
<%= @questions.questions_content %><br>
<%= @questions.user.user_name %> <br>
<%= time_ago_in_words(@questions.created_at) + " ago" %>

<!-- This is to allow current user to be able to delete its own posts and not other people's post -->
<!-- <% if @questions.user_id == current_user.id %><br>
  <%= link_to "Delete", question_path, method: :delete, data:{ confirm: "Are you sure you want to delete?"} %>
<% end %> -->

<br>
<h2> Answers </h2>
<% @answerlist.each do |listanswers| %>
<li> <%= listanswers.answers_content %> </li>
<%= link_to like_answer_path(listanswers), method: :put do %>
  Good Answer
<%= listanswers.get_upvotes.size %> 
<%= link_to dislike_answer_path(listanswers), method: :put do %>
  Please Improve
  <%= listanswers.get_downvotes.size %>
     <% end %>
  <% end %>
<% end %>



<br>
<br>
<br>

<div class="solvebox">
<h3>Solve it here</h3>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
<%= form_for @answer, html: {class: "nifty_form"} do |f| %>
  <%= f.hidden_field :question_id, :value => @questions.id %>

  <%= f.label " " %>
  <%= f.text_area :answers_content, size: "80x10" %>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
</div>
