<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><i class="fa fa-caret-up fa-1x"> </i> <span style="font-size: 24px">Headstarter </span> </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Hot Questions", questions_path %> </li>
        <li> <%= link_to 'New Question', new_question_path %></li>
         <% if user_signed_in? %>
        <li> <%= link_to 'My Questions', user_path(current_user.id) %></li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'Back', questions_path %> </li>

        <li> <% if user_signed_in? %>
          <li><%= link_to 'Edit Profile', edit_user_path(current_user.id) %> </li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path)  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class = "challenger">

<div class="questiontitle"> <span style="font-weight: bold; color:#555555; font-size: 24px;">Title: </span> <%= @questions.title %> <br> </div>
<div class="question"><span style="font-weight: bold; color:#317EAC; font-size: 24px;"> Question: </span> <%= @questions.questions_content %> </div> <br>
<span style="color: #33c107"> <%= time_ago_in_words(@questions.created_at) + " ago" %> by
<%= @questions.user.user_name %> </span>
<hr>

<h2 class="font24px"> Answers </h2>

<% @answerlist.each do |listanswers| %>
<li><span style="font-size: 18px; color:#555555;"> <%= listanswers.answers_content %> </span> </li> <br>
<span style="color: #33c107"> <%= time_ago_in_words(listanswers.created_at) + " ago" %> by
<%= listanswers.user.user_name %> </span>

<div id="votes">

  <div class= "votespace">
<%= link_to like_answer_path(listanswers), method: :put do %>
  <span style="color: #313131"> <i class="fa fa-thumbs-o-up"></i> Good Answer </span>
<%= listanswers.get_upvotes.size %>
  </div>

    <div class= "votespace">
<%= link_to dislike_answer_path(listanswers), method: :put do %>
  <span style="color: #313131"><i class="fa fa-pencil-square-o"></i> Needs Improvement </span>
  <%= listanswers.get_downvotes.size %>
  <hr>
     </div>
</div>
     <% end %>
  <% end %>
<% end %>
</div>



<div class="solvebox" style="margin-left: 20px;">
<h3 class="font24px">My Answer:</h3>

<%= form_for @answer, html: {class: "nifty_form"} do |f| %>
  <%= f.hidden_field :question_id, :value => @questions.id %>

  <%= f.label " " %>
  <%= f.text_area :answers_content, size: "80x10" %> <br>
  <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
