<%= link_to "Back to Questions", questions_path %> <br>
<%= link_to 'Edit Profile', edit_user_path %><br>
<%= link_to 'Post new Questions', new_question_path %><br>



<% if user_signed_in? %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% else %>
<%= link_to('Login', new_user_session_path)  %>
<% end %>

<!-- <h1> Profile </h1> -->

<h1> Hello <%= @user.user_name %>! </h1>

<h4> <%= @user.email %> </h4>



<h5> Your past Questions </h5>

<% @questions.each do |question| %><br>
<%= question.title %> <br><br>
<%= link_to question.questions_content, question %> <br><br>
<%= link_to "Delete", question_path(question.id), method: :delete, data:{ confirm: "Are you sure you want to delete?"} %><br>
<% end %>


<!-- create a delete button on every question and user can only delete its own question -->
