<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"><i class="fa fa-caret-up fa-1x"> </i> Headstarter </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li> <%= link_to "Hot Questions", questions_path %> </li>
        <li> <%= link_to 'New Question', new_question_path %></li>
      </ul>


      <ul class="nav navbar-nav navbar-right">

        <li><%= link_to 'Edit Profile', edit_user_path %></li>
        <li> <% if user_signed_in? %>
          <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
          <% else %>
          <%= link_to('Login', new_user_session_path)  %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- <h1> Profile </h1> -->
<div class = "challenger">
  <div class = "pageheader">
  <!-- <h1> Hello <%= @user.user_name %>! </h1> -->
  <!-- <h4> <%= @user.email %> </h4> -->
  <h1> What I Have Learnt From The Community </h1>
  </div>

  <br>
  <br>


<h3> My Questions </h3>

<div class = "pastquestions">
<% @questions.each do |question| %> <br>
<span style="font-weight: bold; color:#555555; font-size:20px;"> Title: <%= question.title %> </span> <br><br>
<span style="font-size:18px;"> <%= link_to question.questions_content, question %> </span>  <br><br>
<%= time_ago_in_words(question.created_at) + " ago" %>
<%= link_to "Delete", question_path(question.id), method: :delete, data:{ confirm: "Are you sure you want to delete?"} %>  <br>
<% end %>

</div>

</div>

<!-- create a delete button on every question and user can only delete its own question -->
